/* static/css/themes/style-dark.css */

:root {
    --sidebar-bg: #333;
    --sidebar-hover-bg: #555;
    --toggle-bg: #333;
    --header-bg: #333;
    --collapsible-bg: #e7e7e7;
    --collapsible-active-bg: #ccc;
    --content-panel-bg: #f9f9f9;
    --sidebar-active-bg: #555;
    --slide-dark-bg: #2c3e50;
    --end-slide-bg: #2c3e50;
}
