/* static/css/themes/style-blue.css */

:root {
    --sidebar-bg: #2980b9; /* Light blue */
    --sidebar-hover-bg: #1abc9c; /* Turquoise */
    --toggle-bg: #2980b9;
    --header-bg: #2980b9;
    --collapsible-bg: #3498db; /* Blue */
    --collapsible-active-bg: #1abc9c; /* Turquoise */
    --content-panel-bg: #ecf0f1; /* Light grey */
    --sidebar-active-bg: #1abc9c; /* Turquoise */
    --section-dark-bg: #3498db; /* Light blue */
    --end-slide-bg: #3498db; /* Light blue */
}
