<!-- templates/core.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <!-- Link to Core CSS -->
    <link rel="stylesheet" href="static/css/core.css">
    <!-- Link to Theme CSS -->
    <link id="theme-link" rel="stylesheet" href="static/css/themes/{{theme_css}}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <button class="toggle-content-first" id="toggle-content-first">Hide Sidebar</button>
    <div class="sidebar" id="sidebar">
        <h3>Table of Contents</h3>
        <button class="toggle-tab" onclick="toggleSidebar()">&#10095;</button>
        {{toc}}
    </div>
    <div class="container">
        <div class="header">
            <h1>{{title}}</h1>
        <!-- Breadcrumbs -->
            <nav class="breadcrumb" aria-label="Breadcrumb">
                {{breadcrumbs}}
            </nav>
        </div>
        <div class="content" id="content">
            {{sections}}
        </div>
    </div>
    <!-- Link to JavaScript -->
    <script src="static/js/script.js"></script>
</body>
</html>
